.maincontent
  %header
    %h1
      :plain
        Quacker&nbsp;
    .twitterInfo
      %p
        - if @current_user
          %span.signed-in
            %span.greeting
              Hi there
            %span.signed-in-as
              %a{:href => "http://twitter.com/#{@current_user.nickname}"}<
                = "@#{@current_user.nickname}"
            %br
            %small.logout
              Not you?
              %a{:href => '/logout'}<
                Logout
        - else
          Welcome to Quacker. Tweet in other languages!
          %br
          %span.sign-in
            %a{:href => "/sign_in"}
              Sign in with Twitter
              
  #success-holder
  #translation-holder
  #form-holder

%script#translationTemplate{:type => "text/template"}
  .output-text
    %p
      Output text:
      %textarea#translatedText
        <%= translatedText %>
      %span.button.logged-in#tweet-this
        Tweet this

%script#messageTemplate{:type => "text/template"}
  %form{:action => '/translate', :method => 'post', :id => 'toTranslate'}
    %textarea{:name => 'mytext', :id => 'mytext', :placeholder => 'type your text here'}
    .from-to
      .from
        %ul
          %li{:'data-val' => 'en'}
            English
          %span.hidden
            %li{:'data-val' => 'es'}
              Spanish
      .to
        %span.label To:
        %ul
          %li{:'data-val' => 'es'}
            Spanish
          %span.hidden
            %li{:'data-val' => 'en'}
              English
    %input{:type => 'submit', :name => 'translate', :value => 'Translate', :class => 'submitters'}

%script#successTemplate{:type => "text/template"}
  .success
    %p
      Well done! You've translated a tweet!
      - if @current_user
        (
        %a{:href => "http://twitter.com/#{@current_user.nickname}"}
          View
        )

%script#duckTemplate{:type => "text/template"}
  = partial :duck


